<footer id="html-footer">
    <div id="link">
        <a href="https://www.linkedin.com/in/nwando-ifezue-979a99273/" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-linkedin " style="color: #ffffff; padding: 10px;"></i> </a>

        <a href="https://www.fiverr.com/nwandoifezue?source=gig_page" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-fonticons-fi" style="color: #ffffff; padding: 10px;"></i></a>
    
        <a href="https://github.com/thekingdeeno" rel="noopener" target="_blank"><i class="fa-brands fa-lg fa-github" style="color: #ffffff; padding: 10px;"></i> </a>
    
        <a href="mailto:nwandoifezue@gmail.com" target="_blank"><i class="fa-lg fa-solid fa-envelope" style="color: #ffffff; padding: 10px;"></i></a>
    </div>
    <br>
    <p>Made by <a href="http://linktr.ee/nwandoifezue" target="_blank">Nwando Ifezue</a></p>

</footer>




</body>
</html>