<div id="fixed-tab">
    <a href="/home"><i class="fa-solid fa-house tab-icon"></i></a> 
    <a href="/discover"><i class="fa-solid fa-magnifying-glass tab-icon"></i></a>
    <a href="/upload"><i class="fa-solid fa-upload tab-icon"></i></a>
    <a href="/messages"><i class="fa-regular fa-comment tab-icon"></i></a>
    <a href="/profile/<%=thisUser.username%>"><i class="fa-regular fa-user tab-icon"></i></a>
</div>

</body>
</html>